.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 100%;
  background: rgba(11, 11, 11, 0.5);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
